[submodule "labGraphs"]
	path = labGraphs
	url = https://github.com/NikitaShlyamin/labGraphs
[submodule "labMatrix"]
	path = labMatrix
	url = https://github.com/NikitaShlyamin/labMatrix
[submodule "labVec"]
	path = labVec
	url = https://github.com/NikitaShlyamin/labVec
